.list-item {
  margin: 10px;
  font-size: 22px;
  text-align: left;
  list-style: none;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 1px 1px 5px grey;
  background-color: rgb(140, 158, 255);
  display: flex;
  align-items: center;

  &:hover {
    transform: scale(1.02);
    transition: all 0.3s linear;
    background-color: rgb(189, 169, 228);
  }

  .item-name {
    margin-left: 20px;
  }

  .delete-btn {
    color: rgb(150, 96, 16);

    &:hover {
      transform: scale(1.1);
      transition: all 0.3s linear;
      color: rgb(201, 37, 25);
    }

    &:active {
      transform: scale(0.95);
      transition: all 0.3s linear;
      color: rgb(201, 37, 25);
    }
  }
}
