* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background-color: rgb(74, 248, 190);
  display: flex;
  flex: 1 1 600px;
  justify-content: center;
}

.app {
  color: black;
  height: 550px;
  width: 450px;
  background-color: azure;
  margin: 25px auto;
  border-radius: 2%;
  box-shadow: 3px 2px 10px grey;
  text-align: center;
  padding: 20px 50px;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
}

.app h1 {
  font-size: 3rem;
  margin: 10px 10px 15px 10px;
  text-shadow: 2px 2px 10px lawngreen;
  /* border: 2px solid black; */
}

.app .container {
  /* border: 2px solid black; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.app .container input {
  border: none;
  background-color: transparent;
  outline: none;
  border-bottom: 2px solid grey;
  height: 40px;
  /* border: 2px solid black; */
  font-size: 24px;
  flex: 1 1 200px;
}

.app .container .add-btn {
  /* border: 2px solid black; */
  margin-left: 5px;
  height: 55px;
  width: 50px;
  color: rgb(0, 119, 255);
  flex: 1 1 50px;
}

.app .container .add-btn:hover {
  color: rgb(1, 163, 192);
  transform: scale(1.05);
  transition: all 0.3s linear;
}

.app .container .add-btn:active {
  color: rgb(1, 163, 192);
  transform: scale(0.95);
  transition: all 0.1s linear;
}

.app .container .clear-btn {
  /* border: 2px solid black; */
  margin-left: 5px;
  height: 55px;
  width: 50px;
  color: rgb(136, 47, 6);
  flex: 1 1 50px;
}

.app .container .clear-btn:hover {
  color: rgb(189, 64, 6);
  transform: scale(1.05);
  transition: all 0.3s linear;
}

.app .container .clear-btn:active {
  color: rgb(189, 64, 6);
  transform: scale(0.95);
  transition: all 0.1s linear;
}

.app .list {
  align-self: center;
  width: 350px;
}
